@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}


@mixin small-tablet {
    @media (min-width: 768px) and (max-width: 990px) {
        @content;
    }
}

@mixin big-tablet {
    @media (min-width: 991px) and (max-width: 1024px) {
        @content;
    }
}

@mixin style-header-title {
    font-family: $jsans;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    line-height: 26px;
}

@mixin style-hero-title {
    font-family: $aleo;
    font-size: 36px;
    font-weight: 400;
    line-height: 26px;
    color: $textColor;
}

@mixin style-hero-text {
    font-family: $jsans;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.6px  ;
    line-height: 26px;
    color: $heroTextColor;
}
@mixin style-header-subtitle {
    font-family: $jsans;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 6.82px  ;
    line-height: 26px;
}

@mixin style-button {
    width: 228px;
    height: 63px;
    font-size: 16px;
    font-weight: 400;
    font-family: $aleo;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: $textColor;
    background-color: $hardBlueColor;
    border: none;
    background: linear-gradient(45deg, $hardBlueColor 40%,  $blueColor 40% 100%);
}