.flex-container {
    display: flex;
    float: left;
}

.hero {
    background-image: url(../../assets/hero-banner-img.png);
    background-size: cover;
    height: 685px;
    &__text {
        width: 560px;
        margin-right: 110px;
        .hero-title {
            margin-top: 212px;
            margin-bottom: 50px;
            @include style-hero-title;
        }
        .hero-text {
            @include style-hero-text;
            margin-bottom: 45px;
        }
        .button-hero {
            @include style-button;
            &:hover {
                cursor: pointer;
                background: linear-gradient(45deg, $blueColor 40%,  $hardBlueColor 40% 100%);
            }
        }
    }
    &__images {
        width: 440px;
        margin-top: 118px;
        .img1 {
            float: left;
            margin-bottom: 10px;
        }
        .img2 {
            float: right;
        }
    }
}

.places {
    height: 340px;
    background-color: $placesColor;
    text-align: center;
}

.curves {
    padding-top: 46px;
    text-align: center;
}

.boxes {
    margin-top: -25px;
    z-index: -1;
    background-color: $placesColor;
    text-align: center;
    :last-child {
        padding-right: 0;
    }
}

.places-box {
    display: inline-block;
    padding-right: 180px;
    background-color: $placesColor;
    &__icon {
        padding: 15px;
        padding-left: 75px;
        width: 99px;
        height: 99px;
    }
    h4 {
        font-size: 36px;
        color: $placesTextColor;
        font-weight: 400;
        font-family: $aleo;
    }
}